bankjd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fhnw.ch/wi/eai/bankjd/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.fhnw.ch/wi/eai/bankjd/" name="BankJDService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.fhnw.ch/wi/eai/bankjd/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="holeKontoKorrent">
<part name="parameters" element="tns:holeKontoKorrent"/>
</message>
<message name="holeKontoKorrentResponse">
<part name="parameters" element="tns:holeKontoKorrentResponse"/>
</message>
<message name="listeKontokorrentNachname">
<part name="parameters" element="tns:listeKontokorrentNachname"/>
</message>
<message name="listeKontokorrentNachnameResponse">
<part name="parameters" element="tns:listeKontokorrentNachnameResponse"/>
</message>
<message name="printKontokorrent">
<part name="parameters" element="tns:printKontokorrent"/>
</message>
<message name="printKontokorrentResponse">
<part name="parameters" element="tns:printKontokorrentResponse"/>
</message>
<message name="holeSparkonto">
<part name="parameters" element="tns:holeSparkonto"/>
</message>
<message name="holeSparkontoResponse">
<part name="parameters" element="tns:holeSparkontoResponse"/>
</message>
<message name="listeSparkontoNachname">
<part name="parameters" element="tns:listeSparkontoNachname"/>
</message>
<message name="listeSparkontoNachnameResponse">
<part name="parameters" element="tns:listeSparkontoNachnameResponse"/>
</message>
<message name="printSparkonto">
<part name="parameters" element="tns:printSparkonto"/>
</message>
<message name="printSparkontoResponse">
<part name="parameters" element="tns:printSparkontoResponse"/>
</message>
<portType name="BankJD">
<operation name="holeKontoKorrent">
<input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeKontoKorrentRequest" message="tns:holeKontoKorrent"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeKontoKorrentResponse" message="tns:holeKontoKorrentResponse"/>
</operation>
<operation name="listeKontokorrentNachname">
<input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeKontokorrentNachnameRequest" message="tns:listeKontokorrentNachname"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeKontokorrentNachnameResponse" message="tns:listeKontokorrentNachnameResponse"/>
</operation>
<operation name="printKontokorrent">
<input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printKontokorrentRequest" message="tns:printKontokorrent"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printKontokorrentResponse" message="tns:printKontokorrentResponse"/>
</operation>
<operation name="holeSparkonto">
<input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeSparkontoRequest" message="tns:holeSparkonto"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeSparkontoResponse" message="tns:holeSparkontoResponse"/>
</operation>
<operation name="listeSparkontoNachname">
<input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeSparkontoNachnameRequest" message="tns:listeSparkontoNachname"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeSparkontoNachnameResponse" message="tns:listeSparkontoNachnameResponse"/>
</operation>
<operation name="printSparkonto">
<input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printSparkontoRequest" message="tns:printSparkonto"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printSparkontoResponse" message="tns:printSparkontoResponse"/>
</operation>
</portType>
<binding name="BankJDPortBinding" type="tns:BankJD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="holeKontoKorrent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeKontokorrentNachname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printKontokorrent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="holeSparkonto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeSparkontoNachname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printSparkonto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankJDService">
<port name="BankJDPort" binding="tns:BankJDPortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>